
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>Cambio de Contraseña</title>
  <link rel="stylesheet" href="{% static 'css/cambio_de_contraseña.css' %}">
  <link rel="icon" type="image/png" href="{% static 'productos/img/eto2.jpg' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
  <div id="particles-js"></div>
  <div class="flex">
    <div class="container">
      <div class="columnas">
        <div class="columnas-next">
          <h2 style="margin-bottom: -1rem;">Cambio de Contraseña</h2>
          <!-- <h2>Contraseña</h2> -->
        </div>
        <form method="post">
          {% csrf_token %}
          <ul>
            <strong>La contraseña debe de:</strong>
            <div class="cumplimientos">
              <li>
                <span class="material-symbols-outlined">check_circle</span>No debe contener información personal
              </li>
              <li>
                <span class="material-symbols-outlined">check_circle</span>Debe tener al menos 8 caracteres
              </li>
              <li>
                <span class="material-symbols-outlined">check_circle</span>Evita claves comunes
              </li>
              <li>
                <span class="material-symbols-outlined">check_circle</span>Utiliza contraseñas alfanuméricas
              </li>
            </div>
          </ul>
      </div>
          <div class="columna-next">
            <div>
              <div class="image">
                <img width="200rem" src="{% static 'productos/img/password4.svg' %}">
                <!-- <img width="230rem" src="{% static 'productos/img/password2.png' %}"> -->
              </div>
              <label for="id_new_password1">Contraseña nueva:</label>
              <input type="password" id="new_password1" name="new_password1" placeholder="Contraseña Nueva" required>
              <br>
              <label for="id_new_password2">Confirma contraseña:</label>
              <input type="password" id="new_password2" name="new_password2" placeholder="Confirmar contraseña"required>
              <br>
              <div class="picar">
                <button type="submit">Cambiar Contraseña</button>
              </div>
            </div>
          </div>
        </form>
    </div>
  </div>
  <script src="{% static 'login/js/particles.min.js' %}"></script>
  <script src="{% static 'login/js/app.js' %}"></script>
</body>
</html>
{% endblock %}
