
{% extends "./base.html" %}
{% block body %}
{% load static %}
<div class="right-v2" >
    <div class="top">
        <div class="tema">
            <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
            </button>
            <button id="themeToggleBtn" >
                <i id="sunIcon" class="fas fa-sun"></i>
                <i id="moonIcon" class="fas fa-moon"></i>
            </button>
        </div>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <div class="info">
                    <p>Hola, <b>{{ user.username}}</b> </p>
                    <p style="text-align: center;">
                        BIENVENIDO
                    </p>
                </div>
                <div class="profile-photo">
                    {% for user in usuario %}
                                {% if user.id_id == request.user.id %}
                                    {% if user.imagen %}
                                        <img class="fa-solid fa-user-tie"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                                    {% else %}
                                        <p>No hay imagen disponible.</p>
                                    {% endif %}
                                {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
<main>
    <h1>Perfil de usuario</h1>
    <div class="messages-container">
        {% for message in messages %}
            <div class="alert alert-custom" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
            </div>
        {% endfor %}
    </div>
    <div class="recent-orders">
        <div class="Bienvenida" style=" box-shadow: var(--box-shadow); background-color: rgb(2, 75, 220); border-radius: 1rem; padding: 1rem; display: flex; justify-content:space-between;">
            <div>
                <h1 style="font-size: 2.8rem; color: white;">¡BIENVENIDO, {{ user.username}}!</h1>
                <p style="font-size: 1.1rem; color:white">¡Recuerda cumplir con tus deberes y obligaciones, en tiempo y forma!</p>
                <p style="font-size: 1.1rem; color:white; margin-top: 1rem;">En Stockmaster, nuestra prioridad es el cliente</p>
                <p style="font-size: 1.1rem; color:white;">StockMaster: El poder de tener todo bajo control</p>
            </div>
            <div style="display: flex; width: 17%;">
                <img src="{% static 'login/img/bienvenida1.svg' %}">
            </div>
        </div>
        <div class="apartado-perfil">
            <div class="info-user">
                <!-- <div> -->
                    <div class="fotoperfil" style="border: none; display: flex; align-items: center; justify-content: center;">
                    <!-- <div class="fotoperfil" style="align-items: center; border: none;"> -->
                    <div>
                    {% for user in usuario %}
                        {% if user.id_id == request.user.id %}
                            {% if user.imagen %}
                                <img id="vistaUser"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                            {% else %}
                                <p>No hay imagen disponible.</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                        <h2 style="text-align: center;">Foto</h2>
                    </div>
                </div>
                <!-- </div> -->
                <script>
                    function previsualizarImagen() {
                        var cargador = document.getElementById('imagen');
                        var vistaPrevia = document.getElementById('vistaUser');
                        
                        var archivo = cargador.files[0];
                        if (archivo) {
                            var lector = new FileReader();

                            lector.onload = function(e) {
                                vistaPrevia.src = e.target.result;
                            }

                            lector.readAsDataURL(archivo);
                        }
                    }
                </script>
            </div>
            <div class="info-user">
                <div>
                    <div class="perfil-sub" style="justify-content: space-around;">
                        <div class="titulo-user">
                            <strong>Nombre(s)</strong>
                        </div>
                        <div class="titulo-user">
                            <strong>Apellido(s)</strong>
                        </div>
                    </div>
                    <div class="info-sub">
                        <div>
                            <strong>{{ user.first_name}}</strong>
                        </div>
                        <div>
                            <strong>{{ user.last_name}}</strong>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="perfil-sub" style="justify-content: space-around;">
                        <div class="titulo-user">
                            <strong style=" display:flex; align-items: center;">Correo electronico<span class="material-symbols-outlined">mail</span>:</strong>
                        </div>
                    </div>
                    <div class="info-sub">
                        <strong>{{ user.email}}</strong>
                    </div>
                </div>
                <div style="padding: 1rem 1rem 0 1rem;">
                    <div class="perfil-sub"  style="justify-content: space-between;">
                        <div class="titulo-user">
                            <strong>Descripción</strong>
                        </div>
                        <label for="btn-modal-segundo" class="edit-button">
                            <span class="material-symbols-outlined">edit_note</span> Editar
                        </label>
                    </div>
                    <div class="info-sub-descripcion">
                        <div>
                            {% for user in usuario %}
                                {% if user.id_id == request.user.id %}
                                    <div>
                                        <strong>{{ user.descripcion }}</strong><br>
                                    </div>
                                {% endif %}
                            {% endfor %}                         
                        </div>
                    </div>
                </div>
                <div>
                    <div class="perfil-sub" style="justify-content: space-around;">
                        <div class="titulo-user">
                            <strong style=" display:flex; align-items: center;">Contraseña<span class="material-symbols-outlined">lock</span>:</strong>
                        </div>
                    </div>
                    <div class="info-sub" style="justify-content: space-around;">
                        <div style="letter-spacing: 0.6rem;">
                            <strong>*************</strong>
                        </div>
                        <div class="cambioContra">
                            <label for="btn-modal" style="color: white;">
                                Cambiar contraseña
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
       
        <!--Ventana Modal-->
    <div>
        <input type="checkbox" id="btn-modal-segundo">
        <div class="container-modal-segundo">
            <div class="content-modal">
                <label for="btn-modal-segundo" class="cerrar"><i class="fa-solid fa-xmark"></i></label>
                <div class="recent-updates">
                    <h2 class="titulo-modal" style="display: flex; justify-content: center;">Edición de Descripción</h2>
                    {% for user in usuario %}
                        {% if user.id_id == request.user.id %}
                        <form method="post"action="{% url 'descripcion' id_usuario=user.id_usuario%}">
                            {% csrf_token %}
                            <div class="custom-form-group shadow-textarea">
                                <textarea class="custom-form-control" id="descripcion" name="descripcion" rows="3" placeholder="Editando Descripción...">{{user.descripcion}}</textarea>
                            </div>                      
                            <div class="btn-cerrar">
                                <button type="submit" class="updatess">Guardar</button>
                                <label for="btn-modal-segundo">Cancelar</label>
                            </div>
                        </form>
                        {% endif %}
                    {% endfor %} 
                </div>
            </div>
            <label for="btn-modal-segundo" class="cerrar-modal"></label>
        </div>  
    </div>
    <!--Ventana Modal-->
    
    <div>
        <input type="checkbox" id="btn-modal">
        <div class="container-modal">
            <div class="content-modal-contra">
                <label for="btn-modal" class="cerrar"><i class="fa-solid fa-xmark"></i></label>
                <div class="recent-updates">
                    <h2 class="titulo-modal" style="display: flex; justify-content: center;">Cambio de contraseña</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        <div class="form-columns">
                            <div class="form-column">
                                <img class="modal-img-contra" src="{% static 'login/img/secure1.svg' %}">
                                <div class="form-group" style="margin-top: 1.8rem;">
                                    <label class="sub-contra" for="{{ form.old_password.id_for_label }}">Contraseña actual:</label>
                                    <div style="display: flex; margin-top: 0.5rem;">
                                        <input style="color: var(--color-dark); font-size: 1.2rem; background: transparent; border-bottom: 0.2rem solid rgb(244, 24, 79); width: 90%; padding: 0.5rem 0 0.5rem 0;" type="password" id="old_password" name="old_password" placeholder="Contraseña Actual" required>
                                    </div>
                                    {% for error in form.old_password.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="form-group" style="margin-top: 1.8rem;">
                                    <label class="sub-contra" for="{{ form.new_password1.id_for_label }}">Nueva contraseña:</label>
                                    <div style="display: flex; margin-top: 0.5rem;">
                                        <input style="color: var(--color-dark); font-size: 1.2rem; background: transparent; border-bottom: 0.2rem solid rgb(244, 24, 79); width: 90%; padding: 0.5rem 0 0.5rem 0;" type="password" id="new_password1" name="new_password1" placeholder="Nueva Contraseña" required>
                                    </div>
                                    {% for error in form.new_password1.errors %}
                                        <div class="alert alert-custom" role="alert">
                                            <strong>{{ error }}</strong>
                                            <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group" style="margin-top: 1.8rem;">
                                    <label class="sub-contra" for="{{ form.new_password2.id_for_label }}">Confirmar nueva contraseña:</label>
                                    <div style="display: flex; margin-top: 0.5rem;">
                                        <input style="color: var(--color-dark); font-size: 1.2rem; background: transparent; border-bottom: 0.2rem solid rgb(244, 24, 79); width: 90%; padding: 0.5rem 0 0.5rem 0;" type="password" id="new_password2" name="new_password2" placeholder="Confirmar nueva contraseña"required>
                                    </div>
                                    {% for error in form.new_password2.errors %}
                                        <div class="alert alert-danger">{{ error }}</div>
                                    {% endfor %}
                                </div>
                                <div class="btn-cerrar">
                                    <button type="submit" class="updatess">Guardar</button>
                                    <label for="btn-modal">Cancelar</label>
                                </div>
                                <!--Fin datos-->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <label for="btn-modal" class="cerrar-modal"></label>
        </div>
    </div>
    <!--Fin de Ventana Modal-->
</div>
    <!--Fin de Ventana Modal-->
    </div>
</main>
            <script>
                // Obtén todos los elementos con la clase "close-btn"
                var closeBtns = document.querySelectorAll('.close-btnn');

                // Agrega un evento de clic a cada elemento
                closeBtns.forEach(function (closeBtn) {
                    closeBtn.addEventListener('click', function () {
                        // Oculta el elemento al hacer clic
                        closeBtn.style.display = 'none';
                    });
                });
            </script>
{% endblock %}