{% extends "./base.html" %}
{% block body %}
{% load static %}

<div class="right-v2" >
    <div class="top">
        <div class="tema">
            <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
            </button>
            <button id="themeToggleBtn" >
                <i id="sunIcon" class="fas fa-sun"></i>
                <i id="moonIcon" class="fas fa-moon"></i>
            </button>
        </div>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <div class="info">
                    <p>Hola, <b>{{ user.username}}</b> </p>
                    <p style="text-align: center;">
                        BIENVENIDO
                    </p>
                </div>
                <div class="profile-photo">
                    {% for user in usuarios %}
                        {% if user.id_id == request.user.id %}
                            {% if user.imagen %}
                                <img class="fa-solid fa-user-tie"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                            {% else %}
                                <p>No hay imagen disponible.</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<main>
    <h1>Etiquetas Master</h1>
    <div class="recent-orders">
        <div class="principal">
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Buscar categorias y marcas..." oninput="convertToUppercase()">
                <i class="fas fa-search" id="search-icon"></i>
            </div>
        </div>
        <br>
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-custom" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
                </div>
            {% endfor %}
        </div>
        <div class="mitad">
            <div>      
                <div class="boton-modal">
                    <h2 class="agregar">Categorias</h2>
                    <label for="btn-modal">
                        <i class="fa-solid fa-plus"></i>    Agregar Categorias
                    </label>
                </div>      
                <div style="overflow:auto; height: 39rem;">
                    <div class="mensaje-oculto">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    
                                    <th>#</th>
                                    <th>Categorias</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 15px;">
                                {% for c in Categoria %}
                                {% if c.status%}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ c.nombre }}</td>
                                        <td>
                                            <div class="botones">
                                                <div class="edita">
                                                    <a class="btn btn-info edit-product-button-categoria" data-id="{{ c.categoria_id }}">
                                                        <span class="material-symbols-outlined">edit</span>
                                                    </a>
                                                </div>
                                                <div class="elimina">
                                                    <a href="{% url 'status_categoria' categoria_id=c.categoria_id %}" class="btn btn-danger btnEliminacionCate">
                                                    <span class="material-symbols-outlined">delete</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="no-disponible oculto">
                        <div style="display:flex; justify-content: center; align-items: center;">
                            <img style="width: 25%;" src="{% static 'productos/img/tag-add2.svg' %}">
                        </div>
                        <p style="font-size: 1.2rem; font-weight: 400;">¿Nada por aquí? ¡Es el momento de llenar la tabla con categorías!</p>
                        <!-- ¡Oops! Parece que aún no hay proveedores registrados -->
                        <!-- <p style="font-size: 1.2rem; font-weight: 400;">La tabla aguarda proveedores. ¡Añade algunos para comenzar!</p> -->
                    </div>
                </div>
            </div>
            <div>
                <div class="boton-modal">
                    <h2 class="agregar">Marcas</h2>
                    <label for="btn-modal-segundo">
                        <i class="fa-solid fa-plus"></i>     Marca
                    </label>
                </div>
                
                <div style="overflow:auto; height: 39rem;">
                    <div class="mensaje-oculto">
                        <table class="table table-striped" ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Marcas</th>
                                    <th colspan="2">Opciones</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 15px;">
                                {% for c in Marca %}
                                {% if c.status%}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ c.nombre }}</td>
                                        <td>
                                            <div class="botones">
                                                <div class="edita">
                                                    <a class="btn btn-info edit-product-button-marca" data-id="{{ c.marca_id }}">
                                                        <span class="material-symbols-outlined">edit</span>
                                                    </a>
                                                </div>
                                                
                                                <div class="elimina">
                                                    <a href="{% url 'cambio_statusmar' marca_id=c.marca_id %}"  class="btn btn-danger btnEliminacionMarc">
                                                        <span class="material-symbols-outlined">delete</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="no-disponible oculto">
                        <div style="display:flex; justify-content: center; align-items: center;">
                            <img style="width: 25%;" src="{% static 'productos/img/tag-add.svg' %}">
                        </div>
                        <p style="font-size: 1.2rem; font-weight: 400;">La lista de categorías está vacía. ¡Añade nuevas ahora mismo.</p>
                        <!-- ¡Oops! Parece que aún no hay proveedores registrados -->
                        <!-- <p style="font-size: 1.2rem; font-weight: 400;">La tabla aguarda proveedores. ¡Añade algunos para comenzar!</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--Categorias-->
    <!--Ventana Modal Categorias-->
    <div>
        <input type="checkbox" id="btn-modal">
        <div class="container-modal">
            <div class="content-modal" style="width: 100%; max-width: 400px;">
                <label class="cerrar" for="btn-modal"><i class="fa-solid fa-xmark"></i></label>
                <h2 class="titulo-modal">Agregar Nueva Categoria</h2>
                <form action="/registrar_categoria/" method="POST" enctype="multipart/form-data" id="mi_formulario">
                    {% csrf_token %}
                    <div class="divisor">
                        <div class="titulo">Categoría:</div>
                        <input class="campos" type="text" id="txtNombreCat" name="txtNombreCat" class="campos" placeholder="Nombre Categoría" 
                        pattern = "[A-Z0-9]{2,50}" maxlength="50" oninput="convertToUppercase()" required>
                        <span class="error-message" style="color: red;"></span>
                    </div>
                    <div class="btn-cerrar">
                        <button type="submit">Guardar</button>
                        <label for="btn-modal">Cancelar</label>
                    </div>
                </form>
            <label for="btn-modal" class="cerrar-modal"></label>
        </div>
        <!--Fin de Ventana Modal-->
        </div>
    </div>
    <!--Fin ventana modal-->
    
    <!-- Modal edición -->
    <div id="editModalCategoria" class="container-modal-editar">
        <div class="content-modal-editar" style="width: 100%; max-width: 400px;">
            <label class="cerrar" id="closeEditModal"><i class="fa-solid fa-xmark"></i></label>
            <h2 class="titulo-modal">Editar Categoria</h2>
            <form action="/editarCategoria2/" method="POST" enctype="multipart/form-data" value="{{c.categoria_id }}">
                {% csrf_token %}
                <input class="campos" type="hidden" id="editProductId" name="productId" value="{{ c.categoria_id }}">
                <div class="divisor">
                    <div class="titulo">Nombre:</div>
                    <input type="text" id="EtxtNombre" name="nombre" class="campos" placeholder="Categoria"
                    pattern = "[A-Z0-9]{2,50}"maxlength="50" required oninput="convertToUppercase()">
                    <br><span class="error-message" style="color: red;"></span>
                </div>
                <div class="btn-cerrar">
                    <button type="submit">Guardar</button>
                    <label id="cancelar">Cancelar</label>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin Modal edición -->

<!--Fin Categorias-->

<!--Marcas-->
    <!--Ventana Modal Marcas-->
    <div>
        <input type="checkbox" id="btn-modal-segundo">
        <div class="container-modal-segundo">
            <div class="content-modal" style="width: 100%; max-width: 400px;">
                <label for="btn-modal-segundo" style="display: flex; justify-content: flex-end; cursor: pointer;"><i class="fa-solid fa-xmark"></i></label>
                <h2 class="titulo-modal">Agregar Nueva Marca</h2>
                <form action="/MarcaAgregada/" method="POST" enctype="multipart/form-data" id="mi_formulario">
                    {% csrf_token %}
                    <div class="divisor">
                        <div class="titulo">Marca:</div>
                        <input type="text" id="txtMarcaNew" name="txtMarcaNew" class="campos" placeholder="Nombre" 
                        pattern = "[A-Z0-9]{2,50}" maxlength="50" oninput="convertToUppercase()" required>
                        <span class="error-message" style="color: red;"></span>
                    </div>
                    <div class="btn-cerrar">
                        <button type="submit">Guardar</button>
                        <label for="btn-modal-segundo">Cancelar</label>
                    </div>
                </form>
                <label for="btn-modal-segundo" class="cerrar-modal"></label>
            </div>
        </div>
    </div>
    <!--Fin ventana modal-->

    <!-- Modal edición -->
    <div id="editModalMarca" class="container-modal-editar">
        <div class="content-modal-editar" style="width: 100%; max-width: 400px;">
            <label class="cerrar" id="closeEditModalMarca"><i class="fa-solid fa-xmark"></i></label>
            <h2 class="titulo-modal">Editar Marca</h2>
            <form action="/editarMarca2/" method="POST" enctype="multipart/form-data" value="{{ c.marca_id }}">
                {% csrf_token %}
                <input type="hidden" id="editProductId2" name="productId" value="{{ c.marca_id }}">
                <div class="divisor">
                    <div class="titulo">Nombre:</div>
                    <input type="text" id="txtNombre" name="nombre" class="campos" placeholder="Marca"
                    pattern = "[A-Z0-9]{2,50}"maxlength="50" oninput="convertToUppercase()" required>
                    <br><span class="error-message" style="color: red;"></span>
                </div>
                <div class="btn-cerrar">
                    <button type="submit">Guardar</button>
                    <label id="cancelarMarca">Cancelar</label>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin Modal edición -->
<!--Fin Marcas-->
</main>
<script>
    // Cierra el modal de edición cuando se hace clic en la "x"
    closeEditModal.addEventListener("click", function() {
        editModalCategoria.style.display = "none";
    });
    closeEditModalMarca.addEventListener("click", function() {
        editModalMarca.style.display = "none";
    });

    //Cierra el modal de edicion cuando se da click a cancelar
    cancelar.addEventListener("click", function() {
        editModalCategoria.style.display = "none";
    });
    cancelarMarca.addEventListener("click", function() {
        editModalMarca.style.display = "none";
    });
</script>


<script src="{% static 'login/js/busqueda.js' %}"></script>

{% endblock %}