{% extends "./base.html" %}
{% block body %}
{% load static %}
<div class="ctn">
    <main>
        <h1>Historial General</h1>
        <div class="recent-orders">
            <div class="principal">
                <div class="encabezado">
                    <h2>Movimientos</h2>
                </div>
                <div class="search-bar-v3">
                    <label for="search-input"></label><input type="text" id="search-input" placeholder="Buscar movimientos..." oninput="convertToUppercase()">
                    <i class="fas fa-search" id="search-icon"></i>
                </div>
            </div>
            <br>
            <div style="overflow: auto; height: 650px;">
                <table>
                    <thead>
                        <tr>
                            <th>Movimiento</th>
                            <th>Nombre</th>
                            <th>Usuario del Movimiento</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for his in historial|dictsortreversed:"fecha" %}
                            <tr>
                                <td align="left">{{ his.movimiento}}</td>
                                <td>{{ his.nombre }}</td>
                                <td>{{ his.usuario}}</td>
                                <td>{{ his.fecha}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <div class="right" >
        <div class="top">
            <div class="tema">
                <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
                </button>
                <button id="themeToggleBtn" >
                    <i id="sunIcon" class="fas fa-sun"></i>
                    <i id="moonIcon" class="fas fa-moon"></i>
                </button>
            </div>
            <div class="profile">
                {% if request.user.is_authenticated %}
                    <div class="info">
                        <p>Hola, <b>{{ user.username}}</b> </p>
                        <p style="text-align: center;">
                            BIENVENIDO
                        </p>
                    </div>
                    <div class="profile-photo">
                        {% for user in usuarios %}
                                {% if user.id_id == request.user.id %}
                                    {% if user.imagen %}
                                        <img class="fa-solid fa-user-tie"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                                    {% else %}
                                        <p>No hay imagen disponible.</p>
                                    {% endif %}
                                {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="recent-updates">
            <h2>Mensajes Recientes</h2>
            <div class="updates">
                {% if perms.StockMaster_app.view_mensajes %}
                    {% if Mensajes %}
                        {% if respuestascomentarios %}
                            <p>respuestas comentarios </p>
                        {% else %}
                            {% for me in Mensajes|dictsortreversed:"tiempo_creacion"|slice:":4" %}
                                {% if me.respuestascomentarios%}
                                    <div class="message">
                                        <div class="icon" style="color: green">
                                            <span class="material-symbols-outlined">forward</span>
                                        </div>
                                            <p><b>{{ me.username }}: </b><br> {{ me.comentario }}</p>
                                        <small class="text-muted" style="font-size: 11px;">Mensaje contestado</small>
                                    </div>
                                {% else %}
                                    <div class="message">
                                        <div class="icon" style="color: red">
                                            <span class="material-symbols-outlined">mark_email_unread</span>
                                        </div>
                                        <p><b>{{ me.username }}: </b><br> {{ me.comentario }}</p>
                                        <small class="text-muted">{{ me.tiempo_creacion }}</small>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <p>No hay mensajes disponibles en este momento.</p>
                    {% endif %}
            </div>
            <div class="add-products">
                <div>
                    <span class="material-symbols-outlined">add</span> 
                    <a href="{% url 'soporte' %}">Mostrar Todas</a>
                </div>
            </div>
                {% else %}
                    {% if Mensajes %}
                        {% for me in Mensajes|dictsortreversed:"tiempo_creacion"|slice:":4" %}
                            {% if me.respuestascomentarios %}
                                {% if me.username == request.user.username %}
                                    
                                    <div class="message">
                                        <div class="icon" style="color: green">
                                            <span class="material-symbols-outlined">forward</span>
                                        </div>
                                            <b>Comentario:</b>
                                            <p>{{me.comentario}}</p>
                                            <b>Respuesta del Admin: </b>
                                            <p>{{ me.comentario }}</p>
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if me.username == request.user.username %}
                                    <div class="message">
                                        <div class="icon" style="color: green">
                                            <span class="material-symbols-outlined">forward</span>
                                        </div>
                                            <b>Comentario:</b>
                                            <p>{{me.comentario}}</p>
                                            <b>Respuesta del Admin: </b>
                                            <br>
                                        <small class="text-muted">Sin respuesta</small>
                                    </div> 
                                {% endif %}
                            {% endif%}
                        {% endfor%}
                    {% else %}
                        <p>No tienes ningun comentario por el momento</p>
                    {% endif %}
                </div>
                <div class="add-products">
                    <div>
                        <span class="material-symbols-outlined">add</span> 
                        <a href="{% url 'soporteEnviar' %}">Mostrar Todas</a>
                    </div>
                </div>
                {% endif %}
            

            
            <script>
                // Obtén todos los elementos con la clase "close-btn"
                var closeBtns = document.querySelectorAll('.close-btnn');

                // Agrega un evento de clic a cada elemento
                closeBtns.forEach(function (closeBtn) {
                    closeBtn.addEventListener('click', function () {
                        // Oculta el elemento al hacer clic
                        closeBtn.style.display = 'none';
                    });
                });
            </script>
        </div>
    </div>
</div>
{% endblock %}