{% extends "./base.html" %}
{% block body %}
{% load static %}
<div class="right-v2" >
    <div class="top">
        <div class="tema">
            <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
            </button>
            <button id="themeToggleBtn" >
                <i id="sunIcon" class="fas fa-sun"></i>
                <i id="moonIcon" class="fas fa-moon"></i>
            </button>
        </div>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <div class="info">
                    <p>Hola, <b>{{ user.username}}</b> </p>
                    <p style="text-align: center;">
                        BIENVENIDO
                    </p>
                </div>
                <div class="profile-photo">
                    {% for user in usuarios %}
                        {% if user.id_id == request.user.id %}
                            {% if user.imagen %}
                                <img class="fa-solid fa-user-tie"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                            {% else %}
                                <p>No hay imagen disponible.</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>  
</div>
<main>
    <h1>INVENTARIO</h1>
    <div class="recent-orders">
        <form method="get" style="width: 90%;">
            <div class="principal">
                <div class="encabezado">
                    <label for="marcas" class="apartado">Marcas:</label>
                    <select name="marca" id="marca" class="form-control" required>
                        <option value="" disabled selected>-- Selecciona una marca --</option>
                        {% for c in Marca %}
                                        {% if c.status == 1 %}
                                            <option value="{{ c.nombre }}">{{ c.nombre }}</option>
                                        {% endif %}
                        {% endfor %}
                    </select>
                    <!-- <select name="marca" id="marca" class="form-control" required>
                        <option value="" disabled selected>-- Selecciona una marca --</option>
                        {% for c in Marca %}
                                        {% if c.status == 1 %}
                                            <option value="{{ c.nombre }}">{{ c.nombre }}</option>
                                        {% endif %}
                        {% endfor %}
                    </select> -->
                    <button type="submit" class="btn btn-filter">
                        <span class="material-symbols-outlined">tune</span>
                        <p class="filter">Filtrar</p>
                    </button>
                    <button onclick="window.location.href='{% url 'inventario' %}'" class="btn btn-all">
                            <span class="material-symbols-outlined">grid_on</span>
                            <p class="filter">Mostrar todo</p>
                    </button>
                </div>
                <div class="search-bar-v2">
                    <label for="search-input"></label><input type="text" id="search-input" 
                    placeholder="Buscar productos..." oninput="convertToUppercase()">
                    <i class="fas fa-search" id="search-icon"></i>
                </div>
            </div>
        </form>
        <form method="get">
            <div class="button-container"> 
                <button class="scroll-button left-button" style="background: transparent;" type="button" onclick="scrollButtons(1)">
                    <span class="material-symbols-outlined">navigate_before</span>
                </button>
                <div class="scroll-container">
                    <div class="scrollable-buttons">
                        <div class="configurable-buttons-container">
                            {% for c in Categoria %}
                                {% if c.status == 1 %}
                                <button class="configurable-button" role="button" value="{{c.nombre}}" name="categoria">{{ c.nombre }}</button>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <button class="scroll-button right-button" style="background: transparent;" type="button" onclick="scrollButtons(-1)">
                    <span class="material-symbols-outlined">navigate_next</span>
                </button>
            </div>
            
            <!-- <div class="category-cards">
                {% for c in Categoria %}
                    {% if c.status == 1 %}
                        <button role="button" value="{{c.nombre}}" name="categoria">
                            <div class="category-card">
                                <div class="category-content">
                                    <h3>{{ c.nombre }}</h3>
                                </div>
                            </div>
                        </button>
                    {% endif %}
                {% endfor %}
            </div> -->
            
        </form>
        <div class="product-cards">
            <!-- Contenido de las tarjetas de producto -->
            {% for producto in Productos %} 
                {% if producto.status %}
                    {% if not request.GET.categoria or producto.id_categorias.nombre == request.GET.categoria %}
                        {% if not request.GET.marca or producto.id_marca.nombre == request.GET.marca %}
                            <div class="prod">
                            <div class="make-3D-space">
                                <div class="product-card">
                                    <div class="product-front">
                                        <div class="shadow"></div>
                                        <img src="{{ producto.imagen_url }}" alt="{{ producto.nombre }}"/>
                                        <div class="image_overlay"></div>
                                        <div class="stats">
                                            <div class="stats-container">
                                                <span class="product_price">${{ producto.precio }}</span>
                                                <span class="product_name">{{ producto.nombre }}</span>
                                                <p><strong style="color: var(--color-dark);">CATEGORIA: {% if producto.id_categorias %}
                                                    {% if producto.id_categorias.status == 1 %}
                                                    {{ producto.id_categorias.nombre }}
                                                    {% elif producto.id_categorias.status == 0 %}
                                                    NO DISPONIBLE
                                                    {% endif %}
                                                {% else %}
                                                    NO DISPONIBLE
                                                {% endif %}</strong></p>
                                                <div class="product-options">
                                                    <strong>CODIGO</strong>
                                                    <span>{{ producto.codigo }}</span>
                                                    <strong>MARCA</strong>
                                                    <span>{% if producto.id_marca %}
                                                        {% if producto.id_marca.status == 1 %}
                                                        {{ producto.id_marca.nombre }}
                                                        {% elif producto.id_marca.status == 0 %}
                                                        NO DISPONIBLE
                                                        {% endif %}
                                                    {% else %}
                                                        NO DISPONIBLE
                                                    {% endif %}</span>
                                                    <strong>PROVEEDOR:</strong>
                                                    <span>
                                                        {% if producto.id_Proveedores %}
                                                        {% if producto.id_Proveedores.status == 1 %}
                                                        {{ producto.id_Proveedores.nombre }}
                                                        {% elif producto.id_Proveedores.status == 0 %}
                                                        NO DISPONIBLE
                                                        {% endif %}
                                                    {% else %}
                                                        NO DISPONIBLE
                                                    {% endif %}
                                                    </span>
                                                    <strong>CANTIDAD DISPONIBLES</strong>
                                                    <span>{{ producto.cantPro }} unidades</span>
                                                    <!-- <div class="verMas">
                                                        <button class="view-more">Ver Más</button>
                                                    </div> -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="{% static 'js/search.js' %}"></script>
<script src="{% static 'js/botonesColor.js' %}"></script>
<script src="{% static 'js/apartadonuevo.js' %}"></script>


{% endblock %}