{% extends "./base.html" %}
{% block body %}
{% load static %}
<div class="right-v2" >
    <div class="top">
        <div class="tema">
            <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
            </button>
            <button id="themeToggleBtn" >
                <i id="sunIcon" class="fas fa-sun"></i>
                <i id="moonIcon" class="fas fa-moon"></i>
            </button>
        </div>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <div class="info">
                    <p>Hola, <b>{{ user.username}}</b> </p>
                    <p style="text-align: center;">
                        BIENVENIDO
                    </p>
                </div>
                <div class="profile-photo">
                    {% for user in usuarios %}
                        {% if user.id_id == request.user.id %}
                            {% if user.imagen %}
                                <img class="fa-solid fa-user-tie"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                            {% else %}
                                <p>No hay imagen disponible.</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>  
</div>
<main>
    <h1>Productos</h1>
    <div class="recent-orders">
        <div class="principal">
            <div class="boton-modal">
                <label for="btn-modal">
                    <i class="fa-solid fa-plus"></i>    Agregar Producto
                </label>
            </div>
            <div class="search-bar-v3">
                <input type="text" id="search-input" placeholder="Buscar productos..." oninput="convertToUppercase()">
                <i class="fas fa-search" id="search-icon"></i>
            </div>
        </div>
        <!--Fin de Boton-->
        <br>
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-custom" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
                </div>
            {% endfor %}
        </div>
        <h2 class="agregar">Listado de Productos</h2>
        <div style="overflow: auto; height: 39rem;">
            <div class="mensaje-oculto">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Código</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Imagen</th>
                            <th>Visible</th>
                            
                            <th colspan="4">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in Productos %}
                            {% if c.status %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ c.codigo }}</td>
                                    <td>{{ c.nombre }}</td>
                                    <td>${{ c.precio }}mxn</td>
                                    <td>{{ c.cantPro }}</td>
                                    <td class="imagen" style="position: relative;">
                                        <div class="img-container" style="width: 100px; height: 100px;">
                                            <img src="{{ c.imagen_url }}" alt="{{ c.nombre }}" style="width: 150px; max-height: auto; transition: transform 0.3s; position: absolute; top: 0; left: 20%;">
                                        </div>
                                    </td>
                                    <td align="center">
                                        {% if c.id_categorias.status == 0 or c.id_Proveedores.status == 0 or c.id_marca.status == 0 or c.id_area.status == 0 %}
                                            <h3>No existen (se requiere actualizar)</h3>
                                            {% if c.id_categorias.status == 0 %}
                                                CATEGORIA<br>
                                            {% endif %}
                                                {% if c.id_Proveedores.status == 0  %}
                                                PROVEEDOR<br>
                                            {% endif %}
                                            {% if c.id_marca.status == 0 %}
                                                MARCA<br>
                                            {% endif %}
                                            {% if c.id_area.status == 0 %}
                                                AREA<br>
                                            {% endif %}
                                        {% else %}
                                            VISIBLE
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="botones">
                                            <div class="edita">
                                                <a class="btn btn-info edit-product-button" data-id="{{ c.idproducts }}">
                                                    <span class="material-symbols-outlined">edit</span>
                                                </a>
                                            </div>
                                            <div class="elimina">
                                                <a href="status/{{c.idproducts}}" class="btn btn-danger btnEliminacionPro">
                                                    <span class="material-symbols-outlined">delete</span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="no-disponible oculto">
                <div style="display:flex; justify-content: center; align-items: center;">
                    <!-- <img style="width: 20%;" src="{% static 'productos/img/add-message2.svg' %}"> -->

                    <img style="width: 20%;" src="{% static 'productos/img/add-message5.svg' %}">
                    <!-- <img style="width: 20%;" src="{% static 'productos/img/add-message6.svg' %}"> -->
                    <!-- img style="width: 20%;" src="{% static 'productos/img/add-message7.svg' %}"> -->
                    <!-- <img style="width: 20%;" src="{% static 'productos/img/box-add.svg' %}"> -->
                    <!-- <img style="width: 20%;" src="{% static 'productos/img/add-message10.svg' %}"> -->
                </div>
                <p style="font-size: 1.2rem; font-weight: 400;">La tabla está vacía. ¡Registra nuevos productos!</p>
            </div>
        </div>
    </div>
    <!--Ventana Modal-->
    <div>
        <input type="checkbox" id="btn-modal">
        <div class="container-modal">
            <div class="content-modal">
                <label class="cerrar" for="btn-modal"><i class="fa-solid fa-xmark"></i></label>
                <h2 class="titulo-modal">Agregar Nuevo Producto</h2>
                <form action="/registrarProducto/" method="POST" enctype="multipart/form-data" id="mi_formulario">{% csrf_token %}
                    <!--Inicio de la tabla de columnas-->


                    <!-- <div class="divisor">
                        <div class="message" style="align-items: center;">
                            <input type="file" name="imagen" id="id_imagen" accept="image/*" required>
                        </div>
                    </div> -->

                    <div class="form-columns" style="justify-content: center;">
                        <!--Primer columna-->
                        <div class="form-column">
                            <div class="divisor">
                                <div class="titulo">Código:</div>
                                <input type="text" id="txtCodigo" name="txtCodigo" class="campos" placeholder="Codigo" 
                                pattern="[A-Z0-9]{6}"  maxlength="6" oninput="convertToUppercase()" required>
                                <br><span class="error-message" style="color: red;"></span>
                            </div>
                            <div class="divisor">
                                <div class="titulo">Nombre:</div>
                                <input type="text" id="txtNombre" name="txtNombre" class="campos" placeholder="Nombre" 
                                pattern = "[A-Z0-9\s]{2,20}" maxlength="20" oninput="convertToUppercase()" required>
                                <br><span class="error-message" style="color: red;"></span>
                            </div>
                            <div class="divisor">
                                <div class="titulo">Precio:</div>
                                <input type="number" id="NumPrecio" name="NumPrecio" placeholder="Precio" pattern="[0-9]{1,7}" 
                                class="campos" maxlength="7" required oninput="validarNumeros(this)">
                                <br>
                                <small class="text-muted">Ingrese un número (entre 1 y 100 000).</small><br>
                                <span class="error-message error" style="color: red;"></span>
                            </div>
                            <div class="divisor">
                                <div class="titulo">Cantidad Producto:</div>
                                <input type="number" id="CantPro" name="CantPro" placeholder="Cantidad de Producto" 
                                pattern="[0-9]{1,7}" class="campos" maxlength="7"  required oninput="validarNumeros(this)" >
                                <br>
                                <small class="text-muted">Ingrese un numero (entre 1 y 100 000).</small><br>
                                <span class="error-message" style="color: red;"></span>
                            </div>
                        </div>
                        <!--Termino de la 1 columna-->

                        <!--Inicio de la 2 columna-->
                        <div class="form-column" style="margin-top: 1rem;">
                            <div class="divisor">
                                <div class="titulo">Categoría:</div>
                                <select name="categoria" id="categoria" class="campos-seleccion" required>
                                    <option value="" disabled selected>Selecciona una categoría</option>
                                    {% for c in Categoria %}
                                        {% if c.status == 1 %}
                                            <option value="{{ c.categoria_id }}">{{ c.nombre }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="divisor">
                                <div class="titulo">Proveedor:</div>
                                <select name="proveedor" id="proveedor" class="campos-seleccion" required>
                                    <option value="" disabled selected>Selecciona un proveedor</option>
                                    {% for c in Proveedor %}
                                        {% if c.status == 1 %}
                                            <option value="{{ c.idProveedor }}">{{ c.nombre }}</option>
                                        {% endif%}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="divisor">
                                <div class="titulo">Marca:</div>
                                <select name="marca" id="marca" class="campos-seleccion" required>
                                    <option value="" disabled selected>Selecciona un Marca</option>
                                    {% for c in marca %}
                                         {% if c.status == 1 %}
                                        <option value="{{ c.marca_id }}">{{ c.nombre }}</option>
                                        {% endif%}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="divisor">
                                <div class="titulo">Area:</div>
                                <select name="area" id="area" class="campos-seleccion" required>
                                    <option value="" disabled selected>Selecciona un Area</option>
                                    {% for c in Area %}
                                        {% if c.status == 1 %}
                                        <option value="{{ c.area_id }}">{{ c.nombre }}</option>
                                        {% endif%}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!--Termino de la 2 columna-->
                        <div class="form-column" style="align-items: center; justify-content: center;">
                            <div class="divisor" style="margin-top: 4rem">
                                <div class="titulo" style="text-align: center;">Imagen:</div>
                                <!-- <div class="contenedor-imagen"> -->
                                    <img id="vistaPreviaPro" alt=""/>
                                <!-- </div> -->
                                    <input type="file" id="id_imagen" name="imagen" accept="image/*" placeholder="Imagen" 
                                    class="campos" onchange="previsualizarImagen()" required>     
                                    <script>
                                        function previsualizarImagen() {
                                            var cargador = document.getElementById('id_imagen');
                                            var vistaPrevia = document.getElementById('vistaPreviaPro');
                                            
                                            var archivo = cargador.files[0];
                                            if (archivo) {
                                                var lector = new FileReader();

                                                lector.onload = function(e) {
                                                    vistaPrevia.src = e.target.result;
                                                }

                                                lector.readAsDataURL(archivo);
                                            }
                                        }
                                    </script>
                            </div>
                        </div>
                    </div>
                    <!--Termino de la tabla de columnas-->
                    <div class="btn-cerrar">
                        <button type="submit">Guardar</button>
                        <label for="btn-modal">Cancelar</label>
                    </div>
                </form>
            <label for="btn-modal" class="cerrar-modal"></label>
            </div>
        </div>
    </div>
    <!--Fin de Ventana Modal-->
    
    <!-- Modal edición -->
    <div id="editModal" class="container-modal-editar">
        <div class="content-modal-editar">
            <label class="cerrar" id="closeEditModal"><i class="fa-solid fa-xmark"></i></label>
            <h2 class="titulo-modal">Editar Producto</h2>
            <form action="/editarProducto2/" method="POST" enctype="multipart/form-data" value="{{c.idproducts }}">
                {% csrf_token %}
                <input type="hidden" id="editProductId" name="productId" value="{{ c.idproducts }}">
                <!--Inicio de la tabla de columnas-->
                <div class="form-columns">
                    <!--Primer columna-->
                    <div class="form-column">
                        <div class="divisor">
                            <div class="titulo">Código:</div>
                            <input class="campos" type="text" id="EtxtCodigo" name="txtCodigo" placeholder="Código" 
                            pattern="[A-Z0-9]{6}" maxlength="6" required oninput="convertToUppercase()"> <!-- form-control -->
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Precio:</div>
                            <input class="campos" type="text" id="ENumPrecio" name="NumPrecio" placeholder="Precio"
                                pattern="[0-9]{1,7}" maxlength="7" required oninput="validarNumeros(this)">
                            <br><small class="text-muted">Ingrese un número (entre 1 y 100 000).</small>
                            <br><span class="error-message error" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Cantidad Productos:</div>
                            <input class="campos" type="text" id="ECantPro" name="CantPro" placeholder="Cantidad de Producto"
                                pattern="[0-9]{1,7}"  maxlength="7" required oninput="validarNumeros(this)">
                            <br><small class="text-muted">Ingrese un número (entre 1 y 100 000).</small>
                            <br><span class="error-message error" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <center><img id="imgActual" src="{{ imagen_url }}" alt="Imagen actual"></center>     
                        </div>
                        <div class="divisor">
                            <input type="file" name="imagen" id="id_imagen" accept="image/*">
                            <input class="ingresar" type="hidden" name="imagen_actual" value="{{ productos.imagen.url }}">
                        </div>
                    </div>
                    <!--Fin de Primer columna-->

                    <!--Segunda columna-->
                    <div class="form-column">
                        <div class="divisor">
                            <div class="titulo">Nombre:</div>
                            <input class="campos" type="text" id="EtxtNombre" name="txtNombre"
                                placeholder="Nombre" pattern="[A-Z0-9\s]{2,20}" maxlength="20" required oninput="convertToUppercase()">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Categoría:</div>
                            <select name="categoria" id="categoria" class="campos-seleccion" required>
                                <option value="" disabled>Selecciona una categoría</option>
                                {% for c in Categoria %}
                                        {% if c.status == 1 %}
                                          <option class="categoriaOp" id="categoriaOp{{ c.categoria_id }}" value="{{ c.categoria_id }}">{{ c.nombre }}</option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Proveedor:</div>
                            <select name="proveedor" id="proveedor" class="campos-seleccion" required>
                                <option value="" disabled>Selecciona un proveedor</option>
                                {% for c in Proveedor %}
                                        {% if c.status == 1 %}
                                           <option class="proveedorOp" id="proveedorOp{{ c.idProveedor }}" value="{{ c.idProveedor }}">{{ c.nombre }}</option>
                                        {% endif%}
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Marca:</div>
                            <select name="marca" id="marca" class="campos-seleccion" required>
                                <option value="" disabled>Selecciona una marca</option>
                                {% for c in marca %}
                                         {% if c.status == 1 %}
                                           <option class="marcaOP" id="marcaOP{{ c.marca_id }}" value="{{ c.marca_id }}">{{ c.nombre }}</option>
                                        {% endif%}
                                    {% endfor %}
                            </select>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Area:</div>
                            <select name="area" id="area" class="campos-seleccion" required>
                                <option value="" disabled>Selecciona un area</option>
                                {% for c in Area %}
                                         {% if c.status == 1 %}
                                           <option class="areaOP" id="areaOP{{ c.area_id }}" value="{{ c.area_id }}">{{ c.nombre }}</option>
                                        {% endif%}
                                    {% endfor %}
                            </select>
                        </div>
                    </div>
                    <!--Fin de segunda columna-->
                </div>
                <!--Fin de la tabla de columnas-->
                <div class="btn-cerrar">
                    <button type="submit">Guardar</button>
                    <label id="cancelar">Cancelar</label>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin Modal edición -->
</main>

<script>
// Resto del código para cerrar el modal y otros eventos

    // Cierra el modal de edición cuando se hace clic en la "x"
    closeEditModal.addEventListener("click", function() {
        editModal.style.display = "none";
    });

    //Cierra el modal de edicion cuando se da click a cancelar
    cancelar.addEventListener("click", function() {
        editModal.style.display = "none";
    });

</script>
{% endblock %}