{% extends "./base.html" %}
{% block body %}
{% load static %}
<div class="right-v2" >
    <div class="top">
        <div class="tema">
            <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
            </button>
            <button id="themeToggleBtn" >
                <i id="sunIcon" class="fas fa-sun"></i>
                <i id="moonIcon" class="fas fa-moon"></i>
            </button>
        </div>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <div class="info">
                    <p>Hola, <b>{{ user.username}}</b> </p>
                    <p style="text-align: center;">
                        BIENVENIDO
                    </p>
                </div>
                <div class="profile-photo">
                    {% for user in usuarios %}
                        {% if user.id_id == request.user.id %}
                            {% if user.imagen %}
                                <img class="fa-solid fa-user-tie"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                            {% else %}
                                <p>No hay imagen disponible.</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>  
</div>
<main>
    <h1>Proveedores</h1>
    <div class="recent-orders">
        <div class="principal">
            <!--Boton-->
            <div class="boton-modal">
                <label for="btn-modal">
                    <i class="fa-solid fa-plus"></i>    Registrar Proveedor
                </label>
            </div>
            <!--Fin de Boton-->
            <div class="search-bar-v3">
                <input type="text" id="search-input" placeholder="Buscar proveedores..." oninput="convertToUppercase()">
                <i class="fas fa-search" id="search-icon"></i>
            </div>
        </div>
        <br>
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-custom" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
                </div>
            {% endfor %}
        </div>
        <h2 class="agregar">Listado de Proveedores</h2>
        <div style="overflow: auto; height: 39rem;">
            <div class="mensaje-oculto">
                <table>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Contacto</th>
                            <th>Telefono</th>
                            <th>Correo</th>
                            <th>Direccion</th>
                            <th>Imagen</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in Proveedor %}
                        {% if c.status  %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{ c.nombre }}</td>
                                <td>{{ c.contacto }}</td>
                                <td>{{ c.telefono}}</td>
                                <td>{{ c.email}}</td>
                                
                                <td>
                                    {{ c.calle }} {{ c.noExt }}<br>
                                    {% if c.noInt %}
                                        Interior {{ c.noInt }},<br>
                                    {% endif %}
                                    {{ c.colonia }}, {{ c.cp }}, <br>{{ c.municipio }}, <br>{{ c.estado }}, {{ c.pais }}
                                </td>
                                <td class="imagen" style="position: relative;">
                                    <div class="img-container" style="width: 100px; height: 100px;">
                                        <img src="{{ c.imagen_url }}" alt="{{ c.nombre }}" style="width: 150px; max-height: auto; transition: transform 0.3s; position: absolute; top: 0; left: 20%;">
                                    </div>
                                </td>
                                <td>
                                    <div class="botones">
                                        <div class="edita">
                                            <a class="btn btn-info edit-product-button" data-id="{{ c.idProveedor }}">
                                                <span class="material-symbols-outlined">edit</span>
                                            </a>
                                        </div>
                                        <div class="elimina">
                                            <a href="cambio_statuspro/{{c.idProveedor}}" class="btn btn-danger btnEliminacionProv">
                                                <span class="material-symbols-outlined">delete</span>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="no-disponible oculto">
                <div style="display:flex; justify-content: center; align-items: center;">
                    <img style="width: 20%; margin-bottom: -2rem;" src="{% static 'productos/img/user-add.svg' %}">
                </div>
                <p style="font-size: 1.2rem; font-weight: 400;">¿Dónde están los proveedores? La tabla espera tu información.</p>
                <!-- ¡Oops! Parece que aún no hay proveedores registrados -->
                <!-- <p style="font-size: 1.2rem; font-weight: 400;">La tabla aguarda proveedores. ¡Añade algunos para comenzar!</p> -->
            </div>
        </div>
    </div>
    <!--Ventana Modal-->
    <div>
        <input type="checkbox" id="btn-modal">
        <div class="container-modal">
            <div class="content-modal">
                <label for="btn-modal" class="cerrar"><i class="fa-solid fa-xmark"></i></label>
                <div class="recent-updates">
                    <h2 class="titulo-modal">Registrar Nuevo Proveedor</h2>
                    <form action="/registrarProv/" method="POST" enctype="multipart/form-data" id="mi_formulario">{% csrf_token %}
                        <!--Inicio de la tabla de columnas-->
                        <div class="form-columns">    
                        <!--Datos-->
                            <!--Primer columna-->
                            <div class="form-column">
                                <div class="divisor">
                                    <div class="titulo">Nombre:</div>
                                    <input type="text" id="NombreProv" name="NombreProv" class="campos" placeholder="Nombre" 
                                    pattern ="[A-Z0-9\s]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                                    <br><span class="error-message" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">Contacto:</div>
                                    <input type="text" id="ContactoProv" name="ContactoProv" class="campos" placeholder="Contacto"
                                    pattern ="[A-Z0-9\s]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                                    <br><span class="error-message error" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">Telefono:</div>
                                    <input type="text" id="TelefonoProv" name="TelefonoProv" class="campos" placeholder="Telefono" 
                                        pattern="[0-9]{10}" maxlength="10" required  oninput="validarNumeros(this)">
                                    <br> <span class="error-message" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">Correo:</div>
                                    <input type="email" id="EmailProv" name="EmailProv" class="campos" placeholder="Correo"  
                                        maxlength="100" required>
                                    <br><span class="error-message" style="color: red;"></span>
                                </div>
                            </div>
                            <!--Fin Primer columna-->

                            <!--Segunda columna-->
                            <div class="form-column">
                                <div class="divisor">
                                    <div class="titulo">Calle:</div>
                                    <input type="text" id="Calle" name="Calle" class="campos" placeholder="Calle" 
                                    pattern ="[A-Z0-9\s]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                                    <span class="error-message" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">No. Exterior:</div>
                                    <input type="text" id="NoExt" name="NoExt" class="campos" placeholder="Número Exterior" 
                                        pattern="[0-9]{1,10}" maxlength="10" oninput="validarNumeros(this)">
                                    <span class="error-message" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">No. Interior:</div>
                                    <input type="text" id="NoInt" name="NoInt" class="campos" placeholder="Número Interior" 
                                        pattern="[0-9]{1,10}" maxlength="10" oninput="validarNumeros(this)">
                                    <br><span class="error-message" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">Colonia:</div>
                                    <input type="text" id="Colonia" name="Colonia" class="campos" placeholder="Colonia" 
                                    pattern ="[A-Z0-9\s]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                                    <br> <span class="error-message" style="color: red;"></span>
                                </div>
                            </div>
                            <!--Fin Segunda columna-->

                            <!--Tercera columna-->
                            <div class="form-column">
                                <div class="divisor">
                                    <div class="titulo">Código Postal:</div>
                                    <input type="text" id="CP" name="CP" class="campos" placeholder="Código Postal" 
                                        pattern="[0-9]{5}" maxlength="5" required  oninput="validarNumeros(this)">
                                    <br> <span class="error-message" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">Municipio:</div>
                                    <input type="text" id="Municipio" name="Municipio" class="campos" placeholder="Municipio" 
                                    pattern ="[A-Z0-9]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                                    <br> <span class="error-message" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">Estado:</div>
                                    <input type="text" id="Estado" name="Estado" class="campos" placeholder="Estado" 
                                    pattern ="[A-Z0-9]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                                    <br> <span class="error-message" style="color: red;"></span>
                                </div>
                                <div class="divisor">
                                    <div class="titulo">Pais:</div>
                                    <input type="text" id="Pais" name="Pais" class="campos" placeholder="Pais" 
                                    pattern ="[A-Z0-9]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                                    <br> <span class="error-message" style="color: red;"></span>
                                </div>
                            </div>
                            <!--Termino de la 2 columna-->
                        </div>
                        <!--Termino de la tabla de columnas-->
                        <div class="divisor">
                            <div class="titulo" style="text-align: center;">Logo Proveedor:</div>
                            <div class="message" style="align-items: center; padding-left: 25%;">
                                <img id="vistaPreviaProv" alt=""/>
                                <input type="file" name="imagenProv" id="id_imagen" accept="image/*" placeholder="Imagen" 
                                class="campos" onchange="previsualizarImagen()" required>
                                <script>
                                    function previsualizarImagen() {
                                        var cargador = document.getElementById('id_imagen');
                                        var vistaPrevia = document.getElementById('vistaPreviaProv');
                                        
                                        var archivo = cargador.files[0];
                                        if (archivo) {
                                            var lector = new FileReader();

                                            lector.onload = function(e) {
                                                vistaPrevia.src = e.target.result;
                                            }

                                            lector.readAsDataURL(archivo);
                                        }
                                    }
                                </script>
                            </div>
                        </div>

                        <div class="btn-cerrar">
                            <button type="submit" class="updatess">Guardar</button>
                            <label for="btn-modal">Cancelar</label>
                        </div>
                        <!--Fin datos-->
                    </form>
                </div>
            </div>
            <label for="btn-modal" class="cerrar-modal"></label>
        </div>
    </div>
    <!--Fin de Ventana Modal-->

    <!-- Modal edición -->
    <div id="editModalProveedor" class="container-modal-editar">
        <div class="content-modal-editar" style="width: 100%; max-width: 700px;">
            <label class="cerrar" id="closeEditModal"><i class="fa-solid fa-xmark"></i></label>
            <h2 class="titulo-modal">Editar Proveedor</h2>
            <form action="/editarProveedor2/" method="POST" enctype="multipart/form-data" value="{{c.idProveedor }}">
                {% csrf_token %}
                <input type="hidden" id="editProductId" name="productId" value="{{ c.idProveedor }}">
                <!--Inicio de la tabla de columnas-->
                <div class="form-columns">
                    <!--Primer columna-->
                    <div class="form-column">
                        <div class="divisor">
                            <div class="titulo">Nombre:</div>
                            <input type="text" id="EtxtNombre" name="nombre" class="campos" placeholder="Nombre"
                            pattern ="[A-Z0-9\s]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Contacto:</div>
                            <input type="text" id="EtxtContacto" name="contacto" class="campos" placeholder="Contacto"
                            pattern ="[A-Z0-9\s]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Telefono:</div>
                            <input type="text" id="EtxtTelefono" name="telefono" class="campos" placeholder="Telefono"
                                pattern="[0-9]{10}" maxlength="10" required oninput="validarNumeros(this)">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Correo:</div>
                            <input type="text" id="EtxtEmail" name="email" class="campos" placeholder="Correo"
                                maxlength="50" required>
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Calle:</div>
                            <input type="text" id="EtxtCalle" name="calle" class="campos" placeholder="Calle"
                            pattern ="[A-Z0-9\s]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                    </div>
                    <!--Fin de Primer columna-->
                    
                    <!--Segunda columna-->
                    <div class="form-column">
                        <div class="divisor">
                            <div class="titulo">No. Exterior:</div>
                            <input type="text" id="EtxtNoExt" name="noExt" class="campos" placeholder="No. Exterior"
                                pattern="[0-9]{1,10}" maxlength="10" required oninput="validarNumeros(this)">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">No. Interior:</div>
                            <input type="text" id="EtxtNoInt" name="noInt" class="campos" placeholder="No. Interior"
                                pattern="[0-9]{1,10}" maxlength="10" oninput="validarNumeros(this)">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Colonia:</div>
                            <input type="text" id="EtxtColonia" name="colonia" class="campos" placeholder="Colonia"
                            pattern ="[A-Z0-9\s]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Código Postal:</div>
                            <input type="text" id="EtxtCP" name="cp" class="campos" placeholder="Código Postal"
                                    pattern="[0-9]{5}" maxlength="5" required oninput="validarNumeros(this)">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">Municipio:</div>
                            <input type="text" id="EtxtMunicipio" name="municipio" class="campos" placeholder="Municipio"
                            pattern ="[A-Z0-9]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                    </div>
                    <!--Fin de segunda columna-->

                    <!--Tercera columnna-->
                    <div class="form-column">
                        <div class="divisor">
                            <div class="titulo">Estado:</div>
                            <input type="text" id="EtxtEstado" name="estado" class="campos" placeholder="Estado"
                            pattern ="[A-Z0-9]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <div class="titulo">País:</div>
                            <input type="text" id="EtxtPais" name="pais" class="campos" placeholder="País"
                            pattern ="[A-Z0-9]{2,50}" maxlength="50" required oninput="convertToUppercase()">
                            <br><span class="error-message" style="color: red;"></span>
                        </div>
                        <div class="divisor">
                            <center><img id="imgActual" src="{{ imagen_url }}" alt="Imagen actual"></center>     
                        </div>
                        <div class="divisor">
                            <input type="file" name="imagen" id="id_imagen" accept="image/*">
                            <input class="ingresar" type="hidden" name="imagen_actual" value="{{ proveedor.imagen.url }}">
                        </div>
                    </div>
                    <!--Fin de tercera columna-->
                </div>
                <!--Fin de la tabla de columnas-->
                <div class="btn-cerrar">
                    <button type="submit">Guardar</button>
                    <label id="cancelar">Cancelar</label>
                </div>
            </form>
        </div>
    </div>
    <!-- Fin Modal edición -->
</main>

<script>
    // Cierra el modal de edición cuando se hace clic en la "x"
    closeEditModal.addEventListener("click", function() {
        editModalProveedor.style.display = "none";
    });

    //Cierra el modal de edicion cuando se da click a cancelar
    cancelar.addEventListener("click", function() {
        editModalProveedor.style.display = "none";
    });
</script>

{% endblock %}
