{% extends "./base.html" %}
{% block body %}
{% load static %}

<div class="right-v2" >
    <div class="top">
        <div class="tema">
            <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
            </button>
            <button id="themeToggleBtn" >
                <i id="sunIcon" class="fas fa-sun"></i>
                <i id="moonIcon" class="fas fa-moon"></i>
            </button>
        </div>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <div class="info">
                    <p>Hola, <b>{{ user.username}}</b> </p>
                    <p style="text-align: center;">
                        BIENVENIDO
                    </p>
                </div>
                <div class="profile-photo">
                    {% for user in usuarios %}
                        {% if user.id_id == request.user.id %}
                            {% if user.imagen %}
                                <img class="fa-solid fa-user-tie"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                            {% else %}
                                <p>No hay imagen disponible.</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>  
</div>

<main>
    <h1>Recuperación.</h1>
    <div class="recent-orders">
        <div class="principal">
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Buscar productos..." oninput="convertToUppercase()">
                <i class="fas fa-search" id="search-icon"></i>
            </div>
            <br><br>
        </div>
        <br>
        <div class="messages-container">
            {% for message in messages %}
                <div class="alert alert-custom" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
                </div>
            {% endfor %}
        </div>
        <div class="mitad">
            <div>
                <br>
                <h2>Categorias</h2>
                <div class="mensaje-oculto">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Categoria</th>
                                <th>Elimino Usuario</th>
                                <th>Fecha</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in Categoria %}
                                {% if c.status %}

                                {% else %}
                                    <tr>
                                        
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ c.nombre }} </td>
                                        <td>{{ c.username }}</td>
                                        <td>{{ c.fech_cate}}</td>
                                        <td class="edita"><a href="{% url 'status_categoriare' categoria_id=c.categoria_id %}" class="btn btn-info btnRecuperarCate">                                 
                                            <span class="material-symbols-outlined">restart_alt</span>
                                        </a></td>
                                        <td class="elimina"><a href="eliminar_categoria/{{c.categoria_id}}" class="btn btn-danger btnEliminacionCate">
                                            <span class="material-symbols-outlined">delete</span>
                                        </a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="no-disponible oculto">
                    <div style="display:flex; justify-content: center; align-items: center;">
                        <img style="width: 20%; margin-top: -2rem;" src="{% static 'productos/img/category.svg' %}">
                    </div>
                    <p style="font-size: 1.2rem; font-weight: 400;">Ninguna categoria se ha dado de baja.</p>
                </div>
            </div>
            <div>
                <br>
                <h2>Marca</h2>
                <div class="mensaje-oculto">
                    <table>
                        <thead>
                            <tr>
                                <th>#</th> 
                                <th>Marca</th>
                                <th>Elimino Usuario</th>
                                <th>Fecha</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in Marca %}
                                {% if c.status %}

                                {% else %}
                                    <tr>
                                        
                                        <td>{{forloop.counter}}</td>
                                        <td>{{ c.nombre }} </td>
                                        <td>{{ c.username }}</td>
                                        <td>{{ c.fech_cate}}</td>
                                        <td>
                                            <div class="botones">
                                                <div class="edita">
                                                    <a href="cambio_statusremar/{{ c.marca_id }}" class="btn btn-info btnRecuperarMarc">                                 
                                                        <span class="material-symbols-outlined">restart_alt</span>
                                                    </a>
                                                </div>
                                                <div class="elimina">
                                                    <a href="eliminar-marca/{{ c.marca_id }}" class="btn btn-danger btnEliminacionMarc">
                                                        <span class="material-symbols-outlined">delete</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="no-disponible oculto">
                    <div style="display:flex; justify-content: center; align-items: center;">
                        <img style="width: 20%; margin-top: -2rem;" src="{% static 'productos/img/tag.svg' %}">
                    </div>
                    <p style="font-size: 1.2rem; font-weight: 400;">Ninguna marca se ha dado de baja.</p>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}