{% extends "./base.html" %}
{% block body %}
{% load static %}

<div class="ctn">
    <main>
        <h1>Soporte Tecnico</h1>
        <div class="recent-orders">
            <div class="principal">
                <div class="search-bar-v2">
                    <input type="text" id="search-input" placeholder="Buscar productos..." oninput="convertToUppercase()">
                    <i class="fas fa-search" id="search-icon"></i>
                </div>
            </div>
            <br>
            <!-- Muestra mensajes existentes -->
            <div class="messages-container">
                {% for message in messages %}
                    <div class="alert alert-custom" role="alert">
                        <strong>{{ message }}</strong>
                        <button type="button" class="btn-close" aria-label="Close" onclick="dismissMessage(this)"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                {% endfor %}
            </div>
            <div style="overflow:auto; height: 450px;">
                <table>
                    <thead>
                        <tr>
                            <th><h2>Usuario</h2></th>
                            <th><h2>Mensaje</h2></th>
                            <th><h2>Respuesta</h2></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if Mensajes %}
                            {% for mensaje in Mensajes|dictsortreversed:"tiempo_creacion" %}
                                {% if mensaje.username == request.user.username %}
                                <tr>
                                    <td>
                                        <h4>{{ mensaje.username}}:</h4>
                                    </td>
                                    <td>
                                        {{ mensaje.comentario }}
                                    </td>
                                    <td>
                                        {% if mensaje.respuestascomentarios %}
                                            {{ mensaje.respuestascomentarios }}

                                        {% else %}
                                            <p>No tiene respuestas </p>

                                        {% endif %}
                                    </td>
                                    {% endif %}                             
                                </tr>
                            {% endfor %}
                        {% else %}
                            <br>
                            <p style="color: #787878; font-size: 15px;">No hay mensajes disponibles en este momento.</p>
                            <br>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- Formulario para agregar un nuevo comentario --> 
        </div>
    </main>
    <div class="right" >
        <div class="top">
            <div class="tema">
                <button id="menu-btn"><span class="material-symbols-outlined">menu</span>
                </button>
                <button id="themeToggleBtn" >
                    <i id="sunIcon" class="fas fa-sun"></i>
                    <i id="moonIcon" class="fas fa-moon"></i>
                </button>
            </div>
            <div class="profile">
                {% if request.user.is_authenticated %}
                    <div class="info">
                        <p>Hola, <b>{{ user.username}}</b> </p>
                        <p style="text-align: center;">
                            BIENVENIDO
                        </p>
                    </div>
                    <div class="profile-photo">
                        {% for user in usuarios %}
                            {% if user.id_id == request.user.id %}
                                {% if user.imagen %}
                                    <img class="fa-solid fa-user-tie"src="{{ user.imagen_url }}" alt="Imagen del usuario">
                                {% else %}
                                    <p>No hay imagen disponible.</p>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="recent-updates">
            <h2>Agregar comentario:</h2>
            <div class="updates">
                <form method="post" action="/comentario/">
                    {% csrf_token %}
                    <label class="comment" for="comentario">Comentario:</label>
                    <textarea id="comentario" name="comentario" rows="4" cols="30" style="resize: none;" required></textarea>
                    <br>
                    <input class="comentar" type="submit" value="Enviar comentario">
                </form>   
            </div>
        </div>
    </div>
</div>  

<script>
    // Función para eliminar el mensaje al hacer clic en el botón de cerrar
    function dismissMessage(button) {
        const messageContainer = button.closest('.alert');
        if (messageContainer) {
            messageContainer.remove();
        }
    }
</script>
{% endblock %}