/*-------------------------------------ESTRUCTURA PRINCIPAL---------------------------------------*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

main{
    margin-top: 1.4rem;
}

main .recent-orders{
    margin-top: 1.2rem;
}
main .recent-orders h2{
    margin-bottom: 0.8rem;
}

/*-----------------------------------APARTADO (TITULO, SUBTITULO, SEARCH)-----------------------------------*/
.seccion{
    justify-content: space-between;
    display: flex;
    padding-top: 1rem;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: right;
}

.principal{
    justify-content: space-between;
    display: flex;
}

/*---------------------------------------------TABLAS---------------------------------------------*/
main .recent-orders table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    
}
main .recent-orders table:hover{
    box-shadow: none;
}
main .recent-orders table tbody tr{
    background: var(--color-white);
    
}
main table tbody td{
    height: 4.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark);
    text-align: center;
}

main table th{
    background: var(--color-white);
    text-transform: uppercase;
}

/*----------------------------------------ESTRUCTURA .RIGHT------------------------------------------*/

.right{
    margin-top: 1.4rem;
}
.right-v2{
    margin-top: 1.4rem;
    margin-left: 85.7rem; /* 90 */
    position: absolute;
}

/*----------PERFIL----------*/
.right .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.right-v2 .top{
    display: flex;
    justify-content: end;
    gap: 2rem;
}
.right-v2 .top button{
    display: none;
}

.right .top button{
    display: none;
}

.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/*-------FOTO DE PERFIL-------*/
.profile-photo{
    width: 1.8rem;
    height: 2.8rem;
}

/*-------CAMBIO DE TEMA (CHECKBOX)-------*/
#themeToggleBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none;
}

/*---------ICONO DEL SOL---------*/
#sunIcon {
    color: #ffc107;
    transform: scale(1);
    transition: transform 0.3s ease;
}

/*-------ICONO DE LA LUNA-------*/
#moonIcon {
    color: #fff;
    transform: scale(0);
    transition: transform 0.3s ease;
}

/*---------OTRAS COSAS---------*/
.right-v2 button.theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right-v2 .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-v2 .theme-toggler span.active{
    background: var(--color-success);
    color: white;
    border-radius: var(--border-radius-1);
}

.right-v2 .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

.right button.theme-toggler{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .theme-toggler span.active{
    background: var(--color-success);
    color: white;
    border-radius: var(--border-radius-1);
}

/*---CUADRO DE TEXTO (MENSAJES RECIENTES)---*/
.right .recent-updates{
    margin-top: 1rem;
    text-align: center;
    text-transform: uppercase;
    display: inline;
}
.right .recent-updates h2{
    margin-bottom: 0.5rem;
}

.right .recent-updates .updates{
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    transition: all 300ms ease;
    box-shadow: var(--box-shadow);
    box-shadow: var(--color-light) 3px 3px 6px 0px inset, var(--color-white) -3px -3px 6px 1px inset;
}
.right .recent-updates .updates:hover{
    box-shadow: none;
}

/*-------MENSAJES RECIENTES------*/
.right .recent-updates .updates .message{
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius-1);
}

/*----------MOSTRAR MAS----------*/
.right .add-products{
    margin-top: 0.5rem;
    background: transparent;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.apartado-perfil{
    display: grid;
    gap: 0;
    background-color: var(--color-white);
    grid-template-columns: 22rem 1fr; /* Tamaño fijo para la primera columna y el resto para la segunda */
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    margin: 2.5rem 1rem 0 0;
}

#vistaUser{
    max-width: 15rem;
    min-height: 15rem;
}

.info-user{
    display: flex;
    align-items: stretch;
    flex-direction: column; /* Alinea los elementos en columna */
}

/* Agrega estilos adicionales si es necesario */
.info-user:first-child {
    border-right: 0.1rem solid var(--color-info-dark);
    padding-right: 1rem; /* Ajusta el espacio derecho para separar del borde */
}

/* Estilo para los div dentro de .info-user */
.info-user > div {
    flex: 1; /* Hace que todos los div tengan el mismo tamaño */
    border-bottom: 1px solid var(--color-info-dark); /* Ajusta el color y grosor del borde inferior */
    padding: 1.5rem; /* Ajusta el espacio interno según sea necesario */
    box-sizing: border-box; /* Incluye el espacio del borde en el tamaño total del elemento */
}

/* Eliminar border-bottom del último div dentro de .info-user */
.info-user > div:last-child {
    border-bottom: none;
}

.info-user > div > div:first-child {
    border-bottom: none;
}

.perfil-sub{
    color: var(--color-info-dark);
    margin-bottom: 0.6rem;
    display: flex;
}

.info-sub{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fotoperfil{
    align-items:flex-start;
    justify-content: center;
    margin-top: 20%;
}

.cambioContra{
    background-color: rgb(0, 0, 235);
    padding: 0.7rem 3rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    display: flex;
}

.cambioContra:hover{
    background-color: rgb(0, 0, 165);
    cursor: pointer;
}

/*----------MOSTRAR MAS----------*/
.right .add-products{
    margin-top: 0.5rem;
    background: transparent;
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.apartado-perfil{
    display: grid;
    gap: 0;
    background-color: var(--color-white);
    grid-template-columns: 29rem 1fr; /* Tamaño fijo para la primera columna y el resto para la segunda */
    border-radius: 2rem;
    box-shadow: var(--box-shadow);
    margin: 2.5rem 1rem 0 0;
}

#vistaUser{
    max-width: 15rem;
    min-height: 15rem;
}

.info-user{
    display: flex;
    align-items: stretch;
    flex-direction: column; /* Alinea los elementos en columna */
}

/* Agrega estilos adicionales si es necesario */
.info-user:first-child {
    border-right: 0.1rem solid var(--color-info-dark);
    /* padding-right: 1rem; */ /* Ajusta el espacio derecho para separar del borde */
}

/* Estilo para los div dentro de .info-user */
.info-user > div {
    flex: 1; /* Hace que todos los div tengan el mismo tamaño */
    border-bottom: 1px solid var(--color-info-dark); /* Ajusta el color y grosor del borde inferior */
    padding: 1rem 0 1rem 0; /* Ajusta el espacio interno según sea necesario */
    box-sizing: border-box; /* Incluye el espacio del borde en el tamaño total del elemento */
    align-items: center;
}

/* Eliminar border-bottom del último div dentro de .info-user */
.info-user > div:last-child {
    border-bottom: none;
}

.info-user > div > div:first-child {
    border-bottom: none;
}

.perfil-sub{
    color: var(--color-info-dark);
    margin-bottom: 0.3rem;
    display: flex;
}

.info-sub{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.1rem;
}

.fotoperfil{
    justify-content: center;
}

.cambioContra{
    background-color: rgb(0, 0, 235);
    padding: 0.7rem 3rem;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: var(--box-shadow);
    display: flex;
}

.cambioContra:hover{
    background-color: rgb(0, 0, 165);
    cursor: pointer;
}

.titulo-user{
    font-size: 1.2rem;
    text-transform: uppercase;
    align-items: center;
    display: flex;
}

.info-sub-descripcion{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    padding: 0.2rem 1rem 1rem 1rem;
}

/*Mensaje oculto*/
.oculto {
    display: none;
    text-align: center;
    padding: 20px;
    /* background-color: #f1f1f1; */
    color: var(--color-dark);
    margin-top: 8rem;
    justify-content: center;
}
.atras{
    position: flex;
    top: 1rem;
    justify-content: flex-start;
    padding: 10px;
    color:var(--color-dark);
    font-size: 30px;
}
.atras:hover{
    color: #e30404;
    /*color: #e3d404*/
}
.terminos{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 25px;
    position: relative;
    border-radius: 15px;
    text-transform: none;
}
.titulo-Terminos{
    color: var(--color-dark);
    font-size: 35px;
}
.cuerpo{
    box-shadow: var(--box-shadow-v3);
    background-color: var(--color-white);
    margin: 2.2rem auto; /*posicion modal*/
    padding: 2.2rem 3.4rem;
    width: 80%;
    position: relative;
    color: var(--color-dark);
    border-radius: 25px;
    text-align: justify;
    font-size: 1rem;
    font-family: Arial, 'Helvetica', sans-serif;
}
.cuerpo h2{
    font-size: 2rem;
    color: var(--color-dark);
    font: bold;
    text-align: center;
}
.cuerpo h4{
    font-size: 1.2rem;
    text-align: justify;
}
.cuerpo h3{
    font-size: 1.5rem;
    text-align: justify;
}
.cuerpo li{
    margin-left: 3rem;
}