<!DOCTYPE html>
<html>
<head>
    <title>Bienvenido a nuestra aplicación</title>
</head>
<body>
    <p>
        ¡Importante aviso de seguridad y privacidad para nuestros valiosos usuarios de StockMaster!
    </p>
    <br>
    <p>
        En StockMaster, tu confianza es nuestra prioridad principal, y estamos comprometidos a proteger tus datos y garantizar tu privacidad en cada paso del camino. Como usuario de nuestra innovadora aplicación web para el control de almacenes de tecnología, te agradecemos sinceramente por formar parte de nuestra comunidad.
        
        Nuestro equipo se esfuerza continuamente para mantener la más alta seguridad y confidencialidad de tus datos. Tus detalles personales y la información sobre tu inventario son tratados con la máxima discreción, y nunca serán compartidos con terceros sin tu consentimiento expreso.
    </p>
    <br>
    <p>
        Para garantizar tu seguridad, te recomendamos encarecidamente:
        
        Utilizar contraseñas seguras y únicas para tu cuenta de StockMaster.
        Mantener tu sesión cerrada cuando no la estés utilizando.
        Estar alerta ante posibles intentos de phishing y no compartir tus credenciales con nadie.
        Mantener tu dispositivo y navegador web actualizados y seguros.
        En caso de tener alguna pregunta o inquietud sobre nuestra política de privacidad o seguridad, no dudes en contactarnos. Estamos aquí para proporcionarte la mejor experiencia y protección posibles mientras gestionas tu inventario de tecnología.
        
        Gracias por confiar en StockMaster. Tu éxito es nuestro éxito, y estamos emocionados por el futuro de tu empresa con nosotros.
    </p>
    <p>Para Iniciar Sesion en StockMaster da en activar cuenta</p>
    <a href="{{ accept_link }}" style="background-color: #008CBA; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Activar Cuenta</a>
</body>
</html>