<!DOCTYPE html>
<html>
<head>
    <title>Cambio de Contraseña</title>
</head>
<body>
    <p>Hola</p>
    <p>Te Comunicaste con StockMaster</p>
    
    <p>Recuerda que para cambiar de contraseña deberas de entrar al link que esta abajo</p>
    
    <p>Si no realizaste esta acción, por favor contacta con nosotros inmediatamente.</p>
    <p>Gracias,</p>
    <p>StockMaster</p>
    <a href="{{ accept_link }}" style="background-color: #008CBA; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Cambiar Contraseña</a>

</body>
</html>